/*
.selectorCadenaDescendente h2{
background-color: blue;
height: 100px;
}

.selectorTodosLosHijos>div>h2{
    background-color: blue;
    height: 100px;
}

.seccionMargin, .seccionPadding{
background-color: yellow;
height: 200px;
}

.seccionMargin{
    margin: 50px;
}

.seccionPadding{
    padding: 50px;
}

.seccionDisplay>p{
    background-color: blue;
}
.seccionDisplay a{
    background-color: red;
}
.seccionDisplay h1{
    background-color:yellow;
}
.seccionDisplay h3{
    background-color: purple;
}
.seccionDisplay h6{
    background-color: brown;
}
.seccionDisplay div{
    background-color: grey;
}

.seccionDisplay2 p{
    background-color: blue;
    display: inline;
}
.seccionDisplay2 a{
    background-color: red;
    display: block;
}
.seccionDisplay2 h1{
    background-color:yellow;
    display: inline;
}
.seccionDisplay2 h3{
    background-color: purple;
    display: inline;
}
.seccionDisplay2 h6{
    background-color: brown;
    display: inline;
}
.seccionDisplay2 div{
    display: inline;
}
.seccionDisplay2 div>p{
    background-color: grey;
    display: inline;
}

section{
    width: 300px;
    height: 300px;
    color: white;
}

.flexRow{
    display: flex;
    justify-content: flex-start;
    align-items: end;
    background-color: green;
}

.flexColumn{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: end;
    background-color: blue;
}


.ejercicio1 {
    display: flex;
    width: 100%;
}

.div1,
.div2,
.div3 {
    flex: 1;
    border: 1px solid black;
}

.div1 {
    max-width: 20%;
}

.div2 {
    max-width: 30%;
}

.div3 {
    max-width: 50%;
}


.ejercicio2{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.div4, .div5{
    border: 2px solid black;
}

.div4{
    height: 100px;
}

.div5{
    height: 200px;
}


.mediaQueri {
    height: 500px;
}

@media (min-width:1131px) {
    .mediaQueri {
        height: 500px;
        background-color: brown;
    }
}

@media (min-width: 933px) and (max-width:1131px) {
    .mediaQueri {
        background-color: yellow;
    }
}

@media (min-width: 616px) and (max-width:933px) {
    .mediaQueri {
        background-color: blue;
    }
}

@media (min-width: 360px) and (max-width:616px) {
    .mediaQueri {
        background-color: red;
    }
}

@media (max-width:360px) {
    .mediaQueri {
        background-color: green;
    }
}

.ejercicioAR {
    height: 500px;
    background-color: blue;
    position: relative;
    background-image: linear-gradient(30deg, red 50%, blue 100%);
}

.ejercicioAR div {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 200px;
    right: 0px;
    background-color: purple;
    -webkit-box-shadow: 10px 10px 130px 8px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 130px 8px rgba(0,0,0,0.75);
box-shadow: 10px 10px 130px 8px rgba(0,0,0,0.75);
}
*/
.ejercicioGrid div{
border: 1px solid black;
}

.ejercicioGrid{
    display: grid;
    grid-template-columns: 20% 30% 50%;
    grid-template-rows: 200px 100px;
}

.ejercicioGrid2{
    display: grid;
    grid-template-columns: 80% 100px;
    grid-template-rows: 50px 300px 100px 200px;
}

.ejercicioGrid2 div{
    border: 1px solid black;
}

.ejercicioGrid3{
    display: grid;
    height: 500px;
    grid-template-columns: 100fr 300fr 200fr 150fr;
    grid-template-rows: 5fr 15fr 16fr 7fr;
}

.ejercicioGrid3 div{
    border: 1px solid black;
}

.ejercicioRepeat{
    display: grid;
    height: 300px;
    grid: 2fr 2fr / 1fr 1fr;
    /*primero fila - despues columna */
    
}