/* Estilos genericos */
:root {
    --colorPrincipal: #f76666;
    --colorSecundario: #02052f;
    --fuentePrincipal: 'Open sans', sans-serif;
    --fuenteBotones: 'DinBold', sans-serif;
}

*{
    box-sizing: border-box;

}

*, *:before, *:after{
    box-sizing: inherit;
}


/* Esto permite coseguir 10PX = 1REM */

html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    font-family: var(--fuentePrincipal);
}

/* Esto permite coseguir 10PX = 1REM */

/* Estilos genericos */

.contenedor {
    max-width: 80%;
    margin: 0 auto;
}



/* login */
.login {
    color: var(--colorPrincipal);
}

.cursos h2 {
    color: var(--colorPrincipal);
}


/* Main -  Banner principal */
.bannerPrincipal {
    background-image: url(../img/11641893944_banner_zona_centro.png);
    background-size: cover;
    background-position: top left;
    padding-top: 80px;
    padding-bottom: 180px;
}

.bannerPrincipal a {
    background-color: black;
    color: white;
    border: 2px solid black;
    padding: 24px 94px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--fuenteBotones);
    font-size: 1.4rem;
    font-weight: 700;
}

.margenDerecho {
    margin-right: 35%;
}

.tituloPrincipal {
    background: rgba(248, 102, 102, 0.65);
    margin-bottom: 10px;
    display: block;
    padding: 35px;
    color: #fff;
    font-family: var(--fuentePrincipal);
    font-size: 4.5rem;
    font-weight: 800;
}

.flexMain {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Estilos para la imagen corporativas */

.bannerLogos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    border-radius: 12px;
    background-color: white;
    margin-top: -120px;
}

.bannerLogos [alt="logo adecco"] {
    height: 2.5rem;
}

/* Estilos Cursos */
.seccionCursos h3 {
    color: var(--colorPrincipal);
    text-align: center;
    font-family: var(--fuenteBotones);
    margin: 40px 0px;
}

.seccionCursos>h2 {
    font-size: 2.2rem;
    font-weight: bold;
    margin-bottom: 52px;
    text-align: center;
}

.botonesCursos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 105px;

}

.botonesCursos [alt="botonVerTodo"] {
    background-color: var(--colorPrincipal);
    color: white;
    font-family: var(--fuentePrincipal);
    font-size: 1.4rem;
    padding: 12px 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    border: 1px solid var(--colorPrincipal);
}

.botonesCursos [alt="botonMadrid"] {
   background-color: white;
    color: var(--colorSecundario);
    font-family: var(--fuentePrincipal);
    font-size: 1.4rem;
    padding: 12px 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    border: 1px solid var(--colorPrincipal);
}

.cursos{
    margin-bottom: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cursos>div{

    max-width: 50%;
    flex: 2;
    padding: 40px 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 300px;
}

.cursos h2{

    color: white;
    font-size: 2.7rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 22px;

}

.cursos a{
    color: var(--colorPrincipal);
    font-size: 1.4rem;
    background-color: white;
    border: 2px solid white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    padding: 20px 60px;
    display: inline-block;
}

.marketing{
    background-image: url(../img/Curso-marketing-digital-centro.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    margin-right: 15px;
}

.videojuegos{
    background-image: url(../img/Curso-programacion-videojuegos-centro.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    margin-left: 15px;
}


/* Estilos Pidenoslo */
.pidenoslo{
    margin-bottom: 150px;

}
.pidenoslo h3{
    text-align: center;
    color: var(--colorSecundario);
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 40px 0;
}

.pidenoslo div{
display: flex;
flex-direction: row;
justify-content: center;
}

.pidenoslo a{
    background-color: var(--colorPrincipal);
    color: white;
    font-family: var(--fuentePrincipal);
    font-size: 1.4rem;
    padding: 20px 40px;
    border-radius: 40px;
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid;
}


.pidenoslo a:hover{
    background-color: var(--colorSecundario);
    text-decoration: underline;
}
/* Estilos video */
.video{
    justify-content: center;
    display: flex;
    margin-bottom: 70px;
}

/* Estilos para quien son los cursos */
.requisitos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 70px;
}

.infoCursos{
 padding: 0px 15px 0px 15px;
}

.infoCursos h3{
    font-size: 17px;
    color: var(--colorPrincipal);
    margin-bottom: 22px;
    font-weight: 800;
}

.infoCursos h4{
    font-weight: 800;
    font-size: 27px;
    margin-bottom: 22px
}

.infoCursos p{
    font-size: 14px;
    margin-bottom: 25px;
}

.infoCursos h5{
    width: 80%;
    margin-bottom: 10px;
    font-size: 15px;
    line-height: 1.8;
    font-weight: 700;
    margin-top: 0;
}

.preg2{
    color: #F76666;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 50px;
    display: block;
    text-decoration: underline;
}

.infoAdjunta p{
    font-weight: 800;
    padding-bottom: 25px;
}

.descargaInfo{
    float: none;
    background: #F76666;
    padding: 20px 40px;
    border-color: #fff;
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 14px;
    min-height: 50px;
}

.infoRequisitos img{
    max-width: 100%;
    height: auto;
}

/* Estilos localizaciones */
.localizaciones {
    background-color: black;
    color: white;
    padding-top: 90px;
    padding-bottom: 100px;
}

/* Estilos contactar */

/* Estilos footer */